<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: #ffffff;">Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="producto" class="content">
  <ion-card class="product-card">
    <ion-card-header>
      <img [src]="producto.imagen" [alt]="producto.nombre" class="product-image"/>
    </ion-card-header>
    <ion-card-content>
      <h2 class="product-title">{{ producto.nombre }}</h2>
      <p class="product-description">{{ producto.descripcion }}</p>
      <p><strong>Precio Consumidor:</strong> ${{ producto.precioFinal }}</p>
      <p><strong>Precio Distribuidor:</strong> ${{ producto.precioDistribuidor || 'N/A' }}</p>
      <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
      <p><strong>Marca:</strong> {{ producto.marca.nombre }}</p>
      <ion-button expand="full" color="primary" (click)="comprar()">Comprar</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-content *ngIf="!producto" class="content">
  <ion-card class="no-product-card">
    <ion-card-content>
      <h2>Producto no encontrado</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
